* {
  box-sizing: border-box;
}

html {  
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

body {
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: #7e57c2;
}

.row {
  width: 100%;
  /* margin: 0 auto; */
}

.link-btn {
  color: #7e57c2;
  cursor: pointer;
}

.label-info {
  position: relative;
  display: inline-block;
  margin-top: 3px;
}

/*
------------------------------------------------- 
INFO
-------------------------------------------------
*/

.tlr-info {
  width: 360px;
  height: auto;  
  border-radius: 15px;
  box-shadow: 0 7px 20px rgba(0,0,0,0.2);
  background-color: #FFF;
  position: fixed;
  top: 80px;
  right: 10px;
  overflow: hidden;
}

.tlr-info .header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.tlr-info .header i {
  margin-left: auto;
  color: #7e57c2;
  cursor: pointer;
}

.tlr-info .header .title {  
  font-weight: 500;
}

.tlr-info .empty {
  padding: 20px 15px;
  font-size: 16px;
}

.tlr-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* STATUS LIST */

.tlr-info .status-list {
  padding: 20px;
}

.tlr-info .status-list li {
  padding: 7px 0px;
}

.update-presence-btn,
.quick-connect-btn {
  background-color: #7e57c2;
  color: #fff;
  padding: 10px 15px !important;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}


/* ONLINE USERS */

.tlr-info .users-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: #f5f5f5;
  cursor: pointer;
}

.tlr-info .users-list li:hover {
  background-color: #f5f5f5;
}

.tlr-info .users-list li:last-child {
  border-bottom: none;
}

.tlr-info .users-list li .online-user-avatar {
  color: #666;  
  background-color: #DDD;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.tlr-info .users-list li .avatar-icon {
  font-size: 30px;
  color: #999;
  margin-right: 10px;
  background: #ddd;
  padding: 10px;
  border-radius: 50%;
}

.tlr-info .users-list li .name {
  font-size: 18px;
  padding-right: 20px;
  word-break: break-all;
}

.user-actions-box {
  flex-shrink: 0;
  margin-left: auto;
}

.tlr-info .users-list li .action {
  font-size: 20px;
  margin-left: 10px;  
  color: #FFF;
  background-color: #7e57c2;
  border-radius: 100px;
  padding: 8px;  
}

.tlr-info .users-list li .call-btn {
  margin-left: auto;
} 



/*
------------------------------------------------- 
HEADER
-------------------------------------------------
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 72px;  
  padding: 0 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
}

header.custom {
  background-color: #222;
}

header img {
  display: none;
  margin-right: 20px;  
}

header.custom img {
  height: auto;
  max-width: 130px;
}

header h1 {
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  margin-top: 3px;  
}

header.custom h1 {
  color: #fff;
}

.tlr-status {
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  background-color: #ddd;
  padding: 10px 17px;
  border-radius: 100px;
  color: #888;
  display: flex;
  align-items: center;
}

.tlr-status .text {
  padding-top: 2px;
}

.tlr-status i {
  display: none;
  margin-left: 9px;
}

.tlr-status.online {
  background-color: #40ca71;
  color: #FFF;
}

.tlr-status.online i {
  display: inline-block;
}

.tlr-online-users {
  background-color: #7e57c2;
  color: #FFF;
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-left: 20px;
  cursor: pointer;
}

.tlr-online-users i {
  font-size: 30px;
}

.tlr-online-users .counter {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 25px;
  height: 25px;
  background-color: #f55;
  font-size: 12px;  
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid #FFF;
}


/*
------------------------------------------------- 
FOOTER
-------------------------------------------------
*/

footer {
  padding: 50px;
}

footer p {
  font-size: 13px;
  color: #888;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;  
}

footer p.copy {
  font-size: 11px;
  margin-top: 5px;
}


/*
------------------------------------------------- 
CARD
-------------------------------------------------
*/

.tlr-card {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 40px;
  overflow: hidden;
}

.tlr-card h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 20px;
  text-align: center;
}


/*
------------------------------------------------- 
BUTTON
-------------------------------------------------
*/

button, .button {
  border: none;
  box-shadow: none;
  border-radius: 100px;
  background-color: #7e57c2;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;  
}

button a {
  color: #FFF;
}

button.red {
  background-color: #f55;
}

button.green {
  background-color: #40ca71;
}

button:disabled {
  background-color: #DDD;
}


/*
------------------------------------------------- 
FORM
-------------------------------------------------
*/

form {
  border-bottom: 1px solid #ddd;
}

form.no-border {
  border: none;
}

fieldset {
  padding: 15px 20px;
  border-top: 1px solid #ddd;
}

.legend {
  font-weight: 700;
  margin-bottom: 10px;
}

.legend span,
label span {
  font-weight: 400;
  font-size: 14px;
  color: #666;
}

.tlr-card button,
.tlr-card .button {
  width: 240px;
  margin: 25px auto;
  display: block;
}

form fieldset > div,
form fieldset section > div {
  padding: 5px 0;  
}

form label {
  width: 300px;
  display: inline-block;
}

form input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  background-color: #ececec;
  border-radius: 50px;
  outline: none;
  border: 1px solid #DDD;
}

form input.error {
  background-color: #ffe5e5;
  border-color: #f55;
}

form input:focus {
  border: 1px solid #7e57c2;
  background-color: #FFF;
}

#apply_changes {
  display: none;
}

.response-box {
  padding: 20px;
}

.res-info {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444;
}

.res-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.res-link {
  word-break: break-all;
  padding: 7px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #757575;  
}

.quick-link-box {
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 7px;
  margin: 10px;
}

.quick-link-box .expiration {
  margin-bottom: 7px;
}

.quick-link-box .link {
  text-decoration: none;
  word-break: break-all;
  color: #7e57c2;
}

#quick_call_card {
  max-width: 600px;
  margin: 0 auto;
}

#quick_call_card p {
  font-size: 17px;
  margin: 20px;
  text-align: center;
}

.card-info {
  font-size: 16px;
  padding: 20px;
  text-align: left;
  border-top: 1px solid #ddd;
  margin-top: 0;
  display: none;
}

.card-title-box {
  display: flex;
  align-items: center;
  cursor: pointer;  
}

.card-title-box .title {
  text-align: left;
  margin-right: auto;  
}

.card-title-box .info-icon {
  font-size: 28px;
  color: #7e57c2;
  padding: 18px;  
}

.tlr-card.info-expanded .card-info {
  display: block;
}

.tlr-card .info-icon.active {
  display: none;
}

.tlr-card.info-expanded .info-icon.active {
  display: inline-block;
}

.tlr-card .info-icon.inactive {
  display: inline-block;
}

.tlr-card.info-expanded .info-icon.inactive {
  display: none;
}


/*
------------------------------------------------- 
MEDIA QUERIES
-------------------------------------------------
*/

@media only screen and (min-width: 600px) {
  header img {
    display: inline-block;
  }

  .row {
    width: 600px;
    margin: 0 auto;
  }
  
  form input {
    width: 240px;
  }
}


@media only screen and (min-width: 1280px) {
  .row-box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }

  .row {
    margin: 0;
    padding: 10px;
    width: 50%;
  }

  .tlr-card {
    margin: 0;
    margin-bottom: 20px;
  }
}